body{
  background-image: url('https://media2.s-nbcnews.com/j/newscms/2015_44/1276581/151026-bacon-mn-1510_f9c8f864ffdf35b286cd01857462b343.nbcnews-ux-2880-1000.jpg');
  background-size: cover;
}
body{
  color: #FFFFFF;
}
h1, h2{
  text-align: center;
}

.nav-links{
  width: 800px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
text-align: center;
}

.nav-link{
  display: inline-block;
  width: 200px;
  text-align: center;
  border: 2px solid #FFF;
}

.nav-link a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
